@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NZ:wght@100..400&display=swap');

body {
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
max-width: 1200px;
margin: 0 auto;
}

h1 {
font-size: 36px;
color: var(--heading-color);
}

h2, h3, h4, h5, h6 {
color: var(--heading-color);
font-size: 24px;
}

p {
color: var(--paragraph-color);
font-size: 18px;
}

a {
text-decoration: none;
color: var(--secondary-color);
}

.social-media-links a:hover {
color: var(--secondary-color);
}

.logo {
position: absolute;
z-index: 1;
top: 150px;
left: 1px;
max-width: 80px;
margin: 10px;
grid-column: 1;
}

.site {
position: relative;
z-index: 1;
background-color: #FFC107;
font-family: Open Sans, sans-serif;
font-weight: bold;
font-size: 24px;
padding: 10px;
border: 1px solid #080808;
}

.nav {
grid-column: 2;
display: flex;
justify-content: space-between;
z-index: 1;
}

.hero {
position: relative;
background-image: linear-gradient(to bottom,#2ECC40,#FFC)
}

.nav a:hover {
color: tomato;
font-weight: 700;
text-decoration: underline;
}

header {
display: grid;
grid-template-columns: 1fr 3fr;
grid-gap: 10px;
align-items: center;
}

.adventure {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.adventure figure {
flex-basis: 100px;
margin: 10px;
}

.adventure figcaption {
font-size: 18px;
font-weight: bold;
color: #fff;
background-color: #2ECC40;
padding: 10px;
border-radius: 10px;
}

.adventure figure img {
width: 150px;
height: 150px;
object-fit: cover; border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #2ECC40;
padding: 20px;
}

header img {
width: 100px;
height: 100px;
margin: 20px;
border-radius: 50%;
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #FFC107;
padding: 20px;
}

.nav a {
color: #fff;
text-decoration: none;
font-size: 24px;
margin: 20px;
}

footer {
background-color: #2ECC40;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

footer p {
color: #fff;
font-size: 18px;
margin-bottom: 10px;
}

footer a {
margin: 10px;
}

footer img {
width: 40px;
height: 40px;
margin: 10px;
}

footer .social-media {
display: flex;
justify-content: flex-end;
}

.history {
position: relative;
}

.history img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 55vh;
object-fit: cover;
}

.history p {
position: relative;
z-index: 1;
color: #121213;
font-size: 18px;
padding: 20px;
}

