<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NZ:wght@100..400&display=swap');
body {
    font-family: var(--montserrat);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color:  #034078;
    --secondary-color: #1282A2;
    --accent1-color: #EF8354;
    --accent2-color: #FFFFFF;

    --heading-font:var(--primary-color),serif;
    --paragraph-font:var(--secondary-color),serif;

    --nav-background-color: #EF8354;
    --nav-link-color:#1282A2;
    --nav-hover-link-color: #1282A2;
    --nav-hover-background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--Playwrite NZ);
    color:black;
}

header {
    padding: 20px;
    background-color:var(--primary-color);
}

p {
    padding: 25px;
}

nav {
    background-color:var(--accent2-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color:var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-background-color);
}

nav a:hover{
    color:var(--primary-color);
    background-color: var(var(--nav-hover-background-color));
=======
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NZ:wght@100..400&display=swap');
body {
    font-family: var(--montserrat);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color:  #034078;
    --secondary-color: #1282A2;
    --accent1-color: #EF8354;
    --accent2-color: #FFFFFF;

    --heading-font:var(--primary-color),serif;
    --paragraph-font:var(--secondary-color),serif;

    --nav-background-color: #EF8354;
    --nav-link-color:#1282A2;
    --nav-hover-link-color: #1282A2;
    --nav-hover-background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--Playwrite NZ);
    color:black;
}

header {
    padding: 20px;
    background-color:var(--primary-color);
}

p {
    padding: 25px;
}

nav {
    background-color:var(--accent2-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color:var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-background-color);
}

nav a:hover{
    color:var(--primary-color);
    background-color: var(var(--nav-hover-background-color));
>>>>>>> 0ab9315aa24ce44937b47c9511334d4d83f9faa1
}